In [1]:
import pandas as pd

In [2]:
student_data= {
    'Roll Number':[1,2,3,4],
    'Student_name':['Rezal','Kirti','Deepika','Suhana'],
    'Math':[64,37,35,70],
    'English':[33,34,56,65],
    'Punjabi':[66,76,87,54],
    'Hindi':[65,67,78,85],
    
}
df=pd.DataFrame(student_data)

print(df)

   Roll Number Student_name  Math  English  Punjabi  Hindi
0            1        Rezal    64       33       66     65
1            2        Kirti    37       34       76     67
2            3      Deepika    35       56       87     78
3            4       Suhana    70       65       54     85

In [3]:
df.to_csv('stu_data.csv',index=False)

In [5]:
df = pd.read_csv('stu_data.csv')

print(df)

   Roll Number Student_name  Math  English  Punjabi  Hindi
0            1        Rezal    64       33       66     65
1            2        Kirti    37       34       76     67
2            3      Deepika    35       56       87     78
3            4       Suhana    70       65       54     85

In [6]:
df_new=df.drop(columns=['Roll Number','Math'])
print(df_new)

  Student_name  English  Punjabi  Hindi
0        Rezal       33       66     65
1        Kirti       34       76     67
2      Deepika       56       87     78
3       Suhana       65       54     85